<DOCTYPE html>
{% load compress %}
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Star Social</title>
    {% comment %} {% compress css %}
      <link type="text/x-scss" href="{% static 'sass/style.scss' %}" rel="stylesheet" media="screen">
      <link type="text/x-scss" href="{% static 'css/bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %} {% endcomment %}
  
  <!-- FONTAWESOME  -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  
  
  </head>
  <body>
    <nav class="navbar  mynav" role="navigation" id="navbar">
  			<div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">Star Social</a>
            <ul class="nav navbar-nav navbar-right">
    						{% if user.is_authenticated %}
                      <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                      <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                      <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
                      {% comment %} <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li> {% endcomment %}
    						{% else %}
    						      <li><a href="{% url 'groups:all' %}"class="btn btn-simple">Groups</a></li>
    						      {% comment %} <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
    						      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li> {% endcomment %}
    						{% endif %}
    					</ul>
          </div>
    	</nav>
        <div class="container mycontent">
          {% block content %}

          {% endblock %}
        </div>
  <canvas id="canvas"></canvas>
</body>
  <script src="{% static "simplesocial/js/master.js"%}" type="text/javascript" ></script>
</html>